# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# frontend
/front/node_modules
/front/.next
# debug
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/.pnpm-debug.log*

# backend
backend/__pycache__
*.pyc

# testing
/coverage

# misc
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


