@use 'styles/variables' as var;

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 5rem 2rem;
    max-width: 400px;
    margin: 0 auto;
    p{
        color: var.$text-muted;
    }
}