.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;

    .navList{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        .navItem{
            margin: 0 10px;
            .navButton{
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }
}