@use 'styles/variables' as var;

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: var.$main;
    justify-content: center;
    align-items: center;

    .navList {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: .5rem 0;
        margin: 0;

        .navItem {
            width: 4rem;
            margin: 0 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                width: 2rem;
                height: 2rem;
                stroke: var.$white;
            }

            a{
                color: var.$white;
            }
        }
    }
}