@use 'styles/variables' as var;

.form {
    // 入力欄のデザイン
    input {
      position: relative;
      width: 80%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ddd;
      border-radius: 7px;
      background-color: #fff;
    }
  
    // ボタンのデザイン
    button {
      width: 80%;
      padding: 10px;
      background: var.$link;
      border: none;
      border-radius: 7px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-top: 10px;
  
      &:hover {
        background: var.$link-hover; // ホバー時の色
      }
    }
  
    // 説明テキスト
    p {
      margin-top: 15px;
      font-size: 14px;
  
      a {
        color: var.$link;
        text-decoration: none;
  
        &:hover {
          color: var.$link-hover; // リンクのホバー時の色
        }
      }
    }
  }
  